h1 {
    background-color: green;
    color: orange;
}

ul {
list-style-type: square;
background-color: orange;
padding: 20px;

}

ul li {
    background-color: lightgreen;
}

ol {
    background-color: yellow;

}

ol li {
    background-color: rgb(109, 187, 183);
}